@import url(https://fonts.googleapis.com/css?family=Montserrat|Fraunces);
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	box-sizing: border-box;
}

:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

img{
	max-width: 100%;
}

body{
  font-size: 14px;
	font-family: "Fraunces", sans-serif;
	background-color: var(--cream);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 1px);
	margin: 0 1.5rem;
}

.price{
	color: var(--dark-cyan);
}

h1{
	color: var(--very-dark-blue);
	font-size: 2rem;
	padding: 0.5rem 0;
}

ul{
	list-style-type: none;
  padding: 0;
}

.container{
	max-width: 500px;
}

.container article:first-child img{
	border-radius: 0.625rem 0.625rem 0 0;
}

.container article:last-child{
	background-color: white;
	padding: 1.5rem;
	margin-top: -1rem;
	border-radius: 0 0 0.625rem 0.625rem;
}

.container ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1.5rem 0;
}

.container ul li:first-child{
	font-size: 1.5rem;
	font-weight: 700;
}

.container ul li:last-child{
	text-decoration: line-through;
	padding-left: 1rem;
	color: var(--dark-grayish-blue)
}

h3{
	font-size: 0.85rem;
	font-weight: 500;
	color: var(--dark-grayish-blue);
	padding-top: 1rem;
}

p{
	color: var(--dark-grayish-blue);
	padding: 0.5rem 0;
}

h3, p, .btn{
	font-family: "Montserrat", sans-serif;
}

.btn{
	background-color: var(--dark-cyan);
	color: white;
	font-weight: 700;
	padding: 1rem;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 0.5rem;
	cursor: pointer;
  font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

.btn:hover{
	background-color: hsl(159, 33%, 30%);
}

.btn img{
	margin-right: 0.5rem;
}

@media (min-width: 640px){
	.container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.container article:first-child img{
		width: 100%;
		height: 100%;
		border-radius: 0.625rem 0 0 0.625rem;
	}
	.container article:last-child{
		border-radius: 0 0.625rem 0.625rem 0;
		margin-top: 0;
		width: 120%;
	}
	h3{
		padding-top: 0;
	}
}